@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /*Layout widths*/

    --lyt-width-mobile: 375px;
    --lyt-width-desktop: 1440px;

    /*Colori*/

    --clr-prmr-dark-blue: hsl(238, 29%, 16%);
    --clr-prmr-soft-red: hsl(14, 88%, 65%);

    --clr-grdnt-soft-violet: hsl(273, 75%, 66%);
    --clr-grdnt-soft-blue: hsl(240, 73%, 65%);
    --clr-accordion-shadow: #403d77;

    --clr-ntrl-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-ntrl-dark-grayish-blue: hsl(240, 6%, 50%);

    --clr-dvdrs-light-grayish-blue: hsl(240, 5%, 91%);

    /*Typography*/

    --typgrp-fnt-size: 12px;
    --typgrp-fnt-fam: 'Kumbh Sans', sans-serif;
    --typgrp-fnt-weights-reg: 400;
    --typgrp-fnt-weights-bold: 700;
}

/*
Breakpoint 	        Class infix 	Dimensions
X-Small 	        None 	        <576px
Small 	            sm 	            ≥576px
Medium 	            md 	            ≥768px
Large 	            lg 	            ≥992px
Extra large 	    xl 	            ≥1200px
Extra extra large 	xxl 	        ≥1400px
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: var(--typgrp-fnt-fam);
    font-weight: var(--typgrp-fnt-weights-reg);
    font-size: var(--typgrp-fnt-size);
    color: var(--clr-ntrl-very-dark-grayish-blue);
    min-height: 100vh;
}

main {
    min-height: 100vh;
    padding-top: 140px;
    background:linear-gradient(var(--clr-grdnt-soft-violet),var(--clr-grdnt-soft-blue));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

.illustration_desktop {
    display: none;
}

.faqAccordion {
    max-width: 320px;
    min-width: 320px;
    background-color: var(--clr-dvdrs-light-grayish-blue);
    border-radius: 30px;

    box-shadow: 0px 50px 90px var(--clr-accordion-shadow);

}

.illustration_mobile {
    width: min-content;
    margin: 0px auto 50px auto;
}

#illustration-woman-online-mobile {
    position: absolute;
    left: -25px;
    top: -115px;
}

.faqAccordion_text {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.faqAccordion_tit {
    margin-bottom: 15px;
    color: #000;
    font-size: 1.9rem;
    text-align: center;
}

#faqAccordion_lst {

    max-width: 300px;

    list-style: none;
    margin-bottom: 30px;
}

.faqAccordion_qstn {
    border-bottom: 1px solid rgb(204, 203, 203);
    padding: 20px 0px 0px 0px;
}

.faqAccordion_ask {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 15px;
    font-size: 0.8rem;
}

.faqAccordion_qstn:hover .faqAccordion_ask p {
    color: #ff9271;
    cursor: pointer;
}

.faqAccordion_answ {
    box-sizing: content-box;
    /*display: none;*/
    max-height: 0px;
    
    margin-right: 20px;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.5s linear;
}

svg {
    transition: all 0.5s linear;
}

.show {
    max-height: 54px;
    margin-bottom: 15px;
}

/*#test {
    display: block;
}*/

.icon_rotate {
    transform: rotate(180deg);
}

/*
@media screen and (max-width: 375px) {
    .illustration_mobile {
        display: block;
    }
}
*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    main {
        justify-content: center;
    }

    .faqAccordion {
        max-width: 400px;
        min-width: 400px;
        background-color: var(--clr-dvdrs-light-grayish-blue);
        border-radius: 30px;
    
        box-shadow: 0px 50px 90px var(--clr-accordion-shadow);
    
    }

    #faqAccordion_lst {
        max-width: 350px;
    }

    .faqAccordion_ask {
        font-size: 1rem;
    }

    .faqAccordion_tit {
        font-size: 2.1rem;
    }

    .faqAccordion_answ {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {

    main {
        justify-content: center;
        flex-flow: row nowrap;

        padding: 0px;
    }

    .faqAccordion {
        flex: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        min-width: 900px;
        min-height: 600px;

        overflow: hidden;
    }


    .illustration_mobile {
        display: none;
    }

    .illustration_desktop {
        display: block;
    }

    #bg-pattern-desktop {
        position: absolute;
        top: -560px;
        left: -570px;
    }

    #illustration-woman-online-desktop {
        position: absolute;
        top: -200px;
        left: -80px;
    }

    #illustration-box-desktop {
        position: absolute;
        top: -50px;
        left: -50px;
        z-index: 1000;
    }

    .faqAccordion_text {
        margin-right: 80px;
    }

    #faqAccordion_lst {
        max-width: 350px;
    }

    .faqAccordion_ask {
        font-size: 1rem;
    }

    .faqAccordion_tit {
        font-size: 2.1rem;
    }

    .faqAccordion_answ {
        font-size: 0.8rem;
    }
    
}